
@{
    ViewData["Title"] = "Add";
}

@*<h1 style="color:white;">Add Project</h1>
<form action="/EP/Add" method="post" style="color:white;">
    <div class="mb-3">
        <label asp-for="@Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Office_ID" class="form-label"></label>
        <select class="form-select" asp-for="Office_ID" asp-items="ViewBag.Office">
            <option selected>Open this select menu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
*@
