@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:white;"  class="display-4">Welcome</h1>
    <p style="color:white;">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<br />
<div class="text-center">
    <a href="/employee/index" style="background-color:gray;" class="btn btn-primary">Employee Data</a>
    <a href="/Office/index" style="background-color:gray;" class="btn btn-primary">Office Data</a>
    <a href="/project/index" style="background-color:gray;" class="btn btn-primary">Project Data</a>
    <a href="/EP/index" style="background-color:gray;" class="btn btn-primary">Employee & Project Data</a>
</div>

